APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_QUEUE_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=fresho
# DB_USERNAME=root
# DB_PASSWORD=

# DB_HOST2=127.0.0.1
# DB_PORT2=3306
# DB_DATABASE2=fresho
# DB_USERNAME2=root
# DB_PASSWORD2=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

FRESHO_COOKIE=

# ROOT KEY
ABLY_KEY=
ABLY_TOKEN_EXPIRY=3600

# for print dept pdf report
PDF_PRINT_BATCH=false
PDF_PRINT_CMD="ls -al %FILENAME% %DUPLEX%"
PDF_PRINT_DUPLEX_SIM="-duplex=SIMPLEX"
PDF_PRINT_DUPLEX_DUP="-duplex=DUPLEX"

# daily report category code
REPORT_DAILY_PORK_BELLY_RON_BL=
REPORT_DAILY_PORK_BELLY_ROFF_BL=
REPORT_DAILY_PORK_BELLY_RON_BI=
REPORT_DAILY_PORK_BELLY_RON_BI_NAME=
REPORT_DAILY_PORK_BBQ=
REPORT_DAILY_PORK_LEG_MEAT=1002,1057,1090,1102,1118,1124,1144,1153,
REPORT_DAILY_PORK_LOIN_RIND_OFF=1006,1032,1098,1119,1120,1141,1142,
REPORT_DAILY_PORK_RIBS=
REPORT_DAILY_PORK_NECK=1152,1150,1137,1131,1130,1005,
REPORT_DAILY_PORK_RIBS_MEATY=
REPORT_DAILY_PORK_RIBS_EX_MEATY=
REPORT_DAILY_PORK_RIBS_FRZ=
REPORT_DAILY_PORK_CUTLETS=1165,
REPORT_DAILY_PORK_RIBLET_MEATY=1097,
REPORT_DAILY_PORK_LEG_BONE_MEATY=1063,
REPORT_DAILY_PORK_LEG_BONE_EX_MEATY=1129,
REPORT_DAILY_PORK_NECK_BONE_MEATY=1076,
REPORT_DAILY_PORK_NECK_BONE_EX_MEATY=1132,
REPORT_DAILY_PORK_LOIN_RIND_ON=1166,
REPORT_DAILY_PORK_SHOULDER_RIND_ON=1001,
REPORT_DAILY_PORK_MIDDLE=1038,
REPORT_DAILY_PORK_FAT=1112,1143,1085,1028,

REPORT_DAILY_CK_BREAST=
REPORT_DAILY_CK_SOFF=
REPORT_DAILY_CK_SON=
REPORT_DAILY_CK_BI=
REPORT_DAILY_CK_TH_OFF=
REPORT_DAILY_CK_TH_OFF_NAME=
REPORT_DAILY_CK_TH_OFF_NAME22="Chicken Thigh Fillet Skin Off #22,"
REPORT_DAILY_CK_TH_ON=
REPORT_DAILY_CK_LEGETTE=
REPORT_DAILY_CK_LEGETTE_NAME=
REPORT_DAILY_CK_WINGS=
REPORT_DAILY_CK_WINGETTE=
REPORT_DAILY_CK_TDR=
REPORT_DAILY_CK_RIB=3020,
REPORT_DAILY_CK_BUTT=3114,
REPORT_DAILY_CK_LEGETTE_ON_NAME="Chicken Drumstick Fillet - Skin On,"
REPORT_DAILY_CK_BR_ON=3104,3096,
REPORT_DAILY_CK_DRUMSTICK=3009,
REPORT_DAILY_CK_CHOP_ON=3086,
REPORT_DAILY_CK_BR_BUTTERFLIED=3008,
